body {
    font-family: Arial, serif;
    font-weight: bold;
}

.form-label {
    margin-bottom: 100px;
}

.form-control {
    margin-bottom: 100px;
}

.width-80 {
    width: 80px;
    box-shadow: 5px 5px 5px black;
}

.btn {
    color: white;
    background-color: rgb(84 181 136);
    border: 1px solid black;
}