body {
  margin: 0;
}

#map {
  height: 80vh;
  width: 100%;
}

.mapbox-h1 {
  color: blue;
  text-shadow: 0 0 0.5em rgba(0 0 0 / 0.2);
}

.marker {
  width: 37px;
  height: 50px;
  background-image: url("../img/flat-design-map-pin-transparent-png-stickpng-18.png");
  background-size: cover;
  cursor: pointer;
}

.mapboxgl-popup-content {
  border-radius: 1em;
  z-index: 10;
}

.mapboxgl-popup-close-button {
  font-size: 2em !important;
}

.mapboxgl-popup-close-button:hover {
  color: white;
  background-color: red;
  overflow: hidden;
  z-index: 0;
}