body {
    font-family: 'Roboto Flex', sans-serif;
    background: azure url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000") center;
    user-select: none;
}

.fancy-header {
    text-align: center;
    text-shadow: .1em .1em .1em rgba(20 20 20 / .2);
    color: purple;
}

p {
    color: blue;
    text-shadow: .2em .2em 1em rgba(20 20 20 / .5);
}

h2 {
    color: slateblue;
    text-decoration: underline;
}

.header-paragraph {
    display: flex;
    justify-content: center;
}

ul {
    list-style: circle;
}

ol {
    list-style: lower-greek;
}

ul > li {
    color: rgb(12, 100, 163);
    text-shadow: 2px 2px 4px rgba(20 20 20 / .2);
}

ol > li {
    color: rgb(210, 20, 20);
    text-shadow: 2px 2px 4px rgba(20 20 20 / .2);
}

img {
    border: 1px solid lightskyblue;
    border-radius: 1ex;
}

table {
    content: "";
    font-family: Arial, sans-serif;
    font-size: larger;
    border: 3px double green;
    border-radius: 1ex;
    padding: 2px;
}

tr, th, td {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 3px;
}

a {
    cursor: pointer;
}

a:link {
    color: #1a544c;
}

a:visited {
    color: gray;
}

a:hover {
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

a:active {
    color: green;
}