

body {
    font-family: 'Roboto Flex', sans-serif;
    background: antiquewhite url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}

h1 {
    display: flex;
    justify-content: center;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
}

ul {
    list-style: circle;
}
td, tr {
    padding: 2px 10px;
}

a:hover {
    cursor: pointer;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
}
a:visited {
    color: gray;
}
a:active {
    color: green;
}

table, tr, th, td {
    border: 1px solid black;
    /*border-radius: 5px;*/
    padding: 3px;
}

table {
    border: 5px double black;
    border-radius: 5px;
    padding: 0;
}
