$colors: (
  orange: #e25141,
  light-gray: #f1f1f1,
  dark-gray: #666,
  text-gray: #757575,
);

$font-family: (
  title: "Montserrat",
  primary: "Lato",
);

// * flexbox variables

$display: (
  block: block,
  flex: flex,
  inline: inline,
  inline-block: inline-block,
  inline-flex: inline-flex,
  none: none,
);

$flex-direction: (
  row: row,
  column: column,
  row-r: row-reverse,
  col-r: column-reverse,
  none: none,
);

$justify-content: (
  center: center,
  flex-start: flex-start,
  flex-end: flex-end,
  space-between: space-between,
  space-around: space-around,
  space-evenly: space-evenly,
  none: none,
);

$align-items: (
  center: center,
  flex-start: flex-start,
  flex-end: flex-end,
  space-around: space-around,
  space-between: space-between,
  stretch: stretch,
  none: none,
);

$flex-wrap: (
  flex-wrap: wrap,
  nowrap: nowrap,
  none: none,
);
