:root {
  --raleway: "Raleway", sans-serif;
  --segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background-clr: #f1f1f1;
  --red-text: #d73a65;
  --input-border: #ccc;
  --button: #616161;
}

body {
  background-color: var(--background-clr);
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: var(--raleway);
  font-size: 24px;
  background-color: white;
  padding: 36px 32px;
}

.container-menu-right {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 50em;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper-pics {
  display: flex;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-about-contact {
  margin: 0 10em;
}

.container-about {
  font-size: 11px;
}

.about {
  font-family: var(--segoe);
  font-size: 18px;
  margin: 3em 0 2em 0;
}

.img-about {
  width: 200px;
  margin-bottom: 2em;
}

.bio {
  width: 60%;
  text-align: center;
  font-family: var(--segoe);
  margin-bottom: 1em;
}

.red-text {
  font-family: var(--segoe);
  color: var(--red-text);
  margin-bottom: 1em;
}

.container-form {
  width: 100%;
  font-size: 10px;
  font-family: var(--segoe);
}

.container-form input {
  border: 1px solid var(--input-border);
  width: 100%;
  margin-bottom: 1em;
}

.container-form input:focus {
  outline: none;
}

.send {
  width: calc(100% + 6px) !important;
  border: none !important;
  color: white;
  font-size: 10px;
  background-color: var(--button);
  padding: 8px 0;
  margin-bottom: 3em !important;
}

.powered,
.powered a {
  display: flex;
  justify-content: center;
  font-family: var(--raleway);
  font-size: 10px;
  color: black;
  margin-bottom: 2.75em;
}

/* ? media queries */

@media screen and (max-width: 600px) {
  header {
    height: 1em;
    font-size: 1em;
    padding: 1.5em;
  }

  .wrapper-pics {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

}
