* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lato";
  font-size: 20px;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
p,
span,
div,
svg {
  user-select: text;
}

div,
svg {
  user-select: none;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #e25141;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}
.navbar .navbar-brand {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black !important;
  padding: 0.5em 1em;
  margin: 0;
}

.navbar-nav {
  background-color: #e25141;
  width: 100%;
  height: 100%;
}

.navbar-links {
  display: flex;
  color: white !important;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
}
.navbar-links:hover {
  background-color: white;
  color: black !important;
}

.navbar-toggler-icon {
  color: white;
}

/* Start area */
.wrapper-start-page-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e25141;
  padding: 2.25em 0 0 0;
}

.container-start-page-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4em 0;
}
.container-start-page-contents h1 {
  font-weight: 100;
  font-family: "Montserrat" !important;
  margin: 0;
}

.container-start-page-contents > h1,
.container-start-page-contents > span {
  display: flex;
  color: white;
}

.template {
  margin: 2em 0;
}

.get-started {
  background-color: black;
  font-size: 0.75em;
  color: white;
  border: none;
  padding: 0.75em 2em;
  user-select: none;
}
.get-started:hover {
  background-color: #f1f1f1;
  color: black;
}

/* main content */
.container {
  display: flex;
  justify-content: center;
  width: 100% !important;
  padding: 0;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper-article {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: fit-content;
  margin: 4em 12em;
}
.wrapper-article h2 {
  font-family: "Montserrat";
}

.container-articles,
.container-article-p1 {
  display: flex;
  flex-direction: column;
}

.container-article-p1 {
  font-size: 16px;
}
.container-article-p1 p {
  margin-top: 2em;
}

.container-article-p2 {
  display: flex;
  color: #757575;
  font-size: 0.5em;
  margin-top: 2em;
}

.container-anchor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa {
  color: #e25141;
  font-size: 10em;
}

.fa-anchor {
  margin-left: 0.25em;
}

.fa-coffee {
  margin-right: 0.25em;
}

/* quote */
.container-quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #666;
  color: white;
  padding: 3em 0;
}

/* links */
.container-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
.container-links svg {
  height: 20px;
  width: 20px;
  fill: #666;
  margin: 0 2px;
}

.bi-snapchat {
  fill: #666 !important;
}

/* powered by */
.container-powered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #666;
  padding: 0 0 3em 0;
}
.container-powered a {
  color: #666;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #e25141 !important;
  }
  .navbar-links {
    user-select: none;
  }
  .wrapper-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fa {
    padding: 0 !important;
    margin: 64px !important;
  }
}

/*# sourceMappingURL=style.css.map */
